@mixin logo {
	object-fit: contain;
	height: auto;

	&__small {
		width: 100px;

		@media (min-width: $responsive-md) {
			width: 120px;    
		}
	}

	&__medium {
		width: 120px;

		@media (min-width: $responsive-md) {
			width: 160px;
		}
	}

	&__large {
		width: 200px;

		@media (min-width: $responsive-md) {
			width: 250px;
		}
	}
}

@mixin container {
	width: 100%;
	max-width: $responsive-xxl;
	margin: 0 auto;
	margin-right: 0.5rem;
	margin-left: 0.5rem;

	@media (min-width: $responsive-md) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}	
}

@mixin main-title {
	letter-spacing: 0.15rem;
	font-weight: $font-extraBold;
	line-height: 2.8rem !important;
	text-transform: uppercase;
	background: $mainTitleGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: -50px -90px;
    background-size: 200% 100%;
    color: transparent !important;

	@media (min-width: $responsive-md) {
		letter-spacing: 0.4rem;
		line-height: 4.2rem !important;
	}	
}

@mixin main-subtitle {
	margin-top: 10px;
}

@mixin button-primary {
	padding: 2px;
	transition: border-color 0.25s;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: #1A1A1A;
}

@mixin grid-columns {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));

	@media (min-width: $responsive-sm) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@media (min-width: $responsive-md) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	@media (min-width: $responsive-lg) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}