@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Light.eot');
	src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto-Light.woff') format('woff'),
		url('/fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Regular.eot');
	src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto-Regular.woff') format('woff'),
		url('/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Medium.eot');
	src: url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto-Medium.woff') format('woff'),
		url('/fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inter;
	src: url('/fonts/Inter-Regular.eot');
	src: url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Inter-Regular.woff') format('woff'),
		url('/fonts/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inter;
	src: url('/fonts/Inter-Medium.eot');
	src: url('/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Inter-Medium.woff') format('woff'),
		url('/fonts/Inter-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inter;
	src: url('/fonts/Inter-ExtraBold.eot');
	src: url('/fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Inter-ExtraBold.woff') format('woff'),
		url('/fonts/Inter-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}