.navbar {
	height: 4rem;
	padding: 0.5rem 0;

	.navbar-box {
		padding: 10px 30px;
		border-radius: 5rem;
		background: transparent;
	}

	@media (min-width: $responsive-md) {
		height: 5rem;
		padding: 1rem 2rem;
	}
}