h1 {
	font-size: 2.6rem;
	line-height: 2.5rem;

	@media (min-width: $responsive-md) {
		font-size: 3.75rem;
		line-height: 1;
	}

	@media (min-width: $responsive-lg) {
		font-size: 4.5rem;
		line-height: 1;
	}
}